##### While-loop

In [1]:
i=1
while(i<=4):
    print('HELLO')
    i+=1

HELLO
HELLO
HELLO
HELLO

In [2]:
a=1
i=int(input("Enter the value : "))
while(a<=i):
    print("HELLO")
    a+=1

Enter the value : 5
HELLO
HELLO
HELLO
HELLO
HELLO

In [4]:
a=1
i=int(input("Enter the value : "))
while(a<=i):
    print(a)
    a+=1

Enter the value : 8
1
2
3
4
5
6
7
8

In [5]:
#Accept number from user & print the multiplication table of given number
a=1
i=int(input("Enter the value : "))
while(a<=i):
    print(a*2)
    a+=1

Enter the value : 6
2
4
6
8
10
12

##### BREAK & CONTINUE

In [6]:
a=1
i=int(input("Enter the value : "))
while(a<i):
    if(a==8):
        break
    print(a)
    a+=1
print('End of loop')

Enter the value : 10
1
2
3
4
5
6
7
End of loop

In [7]:
a=1
i=int(input("Enter the value : "))
while(a<i):
    a+=1
    if(a==4 or a==8):
        continue
    print(a)
print('End of loop')

Enter the value : 10
2
3
5
6
7
9
10
End of loop

In [8]:
i=1
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

##### WHILE - ELSE

In [9]:
n=int(input("Enter the value : "))
i=0
while(i<n):
    i+=1
    if(i==5):
        break
    print(i)
else:                               #else part will print when condition n is under the while condition
    print('loop executed successfully')

Enter the value : 4
1
2
3
4
loop executed successfully

###### 1) check the palindrom

In [10]:
#String palindrom
s=input('Enter the string : ')
a= str(s)==str(s)[::-1]
print ("Is the string palindrome ? : " + str(a))

Enter the string : abccba
Is the string palindrome ? : True

In [11]:
#integer palindrom
s=int(input('Enter the number :'))
a=str(s)==str(s)[::-1]
print ("Is the number palindrome ? : " + str(a))

Enter the number :123321
Is the number palindrome ? : True

In [12]:
#Another way for integer palindrom
a=123321
b=0
while (a!=0):
    c=a%10
    b=b*10+c
    a=a//10
print(a)
print(b)
print(c)

0
123321
1

###### Q2) Print the table of float number

In [13]:
a=1
i=int(input("Enter the value : "))
s=float(input("Enter the table value : "))
while(a<=i):
    print(a*s)
    a+=1

Enter the value : 10
Enter the table value : 5.5
5.5
11.0
16.5
22.0
27.5
33.0
38.5
44.0
49.5
55.0

###### Q.3) Accept the number from user & check the start & end digit are same or different

In [14]:
s=int(input("Enter any value : "))
s_str=str(s)
if s_str[0]==s_str[-1]:
    print("Start number & end number are same")
else:
    print("Start number & end number are differnt")

Enter any value : 156241
Start number & end number are same

###### Accept the no from the user and perform the addition of all digit of that numbers

In [17]:
n=int(input("Enter the value : "))
i=0
while(i<n):
    i+=1
    if(i==10):
        break
    print(i)  
print ("Sum of all digits: ")

Enter the value : 5
1
2
3
4
5
Sum of all digits:

##### FOR LOOP

In [18]:
l=[1,2,7,8,9,0,12,34,5,5]
i=0
while(i<len(l)):
    print(l[i])
    i+=1

1
2
7
8
9
0
12
34
5
5

In [19]:
#Same code using for loop 
l=[1,2,7,8,9,0,12,34,5,5]
for x in l:
    print(x)

1
2
7
8
9
0
12
34
5
5

In [20]:
l=[1,2,7,8,9,0,12,34,5,5]
for x in l:
    if (x>10):
        print(x)

12
34

In [21]:
fruits=['Apple','Banana','Mango','Watermelon']
for i in fruits:
    print(i)

Apple
Banana
Mango
Watermelon

In [22]:
l='Data Science'
for i in l:
    print(i,end=" ")

D a t a   S c i e n c e

#### Range Function

In [24]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [25]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [26]:
#Print Multiplication Table
num=int(input("Enter a number : "))
for i in range(1,11):
    print(num*i)

Enter a number : 5
5
10
15
20
25
30
35
40
45
50

#### Nested Loop

In [27]:
list1=['Maths','Science','Geo','Eco','Social']
list2=[78,90,70,56,90]

In [28]:
for i in list1:           #Outer loop
    for k in list2:       #Inner loop
        print(i,k)

Maths 78
Maths 90
Maths 70
Maths 56
Maths 90
Science 78
Science 90
Science 70
Science 56
Science 90
Geo 78
Geo 90
Geo 70
Geo 56
Geo 90
Eco 78
Eco 90
Eco 70
Eco 56
Eco 90
Social 78
Social 90
Social 70
Social 56
Social 90

In [29]:
a=['red','blue','green']
b=['Apple','Banana','Orange']
for i in a:
    for h in b:
        print(i,h)

red Apple
red Banana
red Orange
blue Apple
blue Banana
blue Orange
green Apple
green Banana
green Orange

In [30]:
l=[34,66,43,23,27,88,74,16]

In [31]:
for c in l:
    if (c%2==0):
        print(c, "is Even")
    else:
        print(c,'is Odd')

34 is Even
66 is Even
43 is Odd
23 is Odd
27 is Odd
88 is Even
74 is Even
16 is Even

In [32]:
city=['Bangalore','Mumbai','Pune']

In [33]:
for index in range(len(city)):
    print("Current city:", city[index])
print("Good Bye!")

Current city: Bangalore
Current city: Mumbai
Current city: Pune
Good Bye!

In [34]:
a=7
b=0
for i in range(2,a):
    if (a%i==0):
        b+=1
        c=b
if(b==0):
    print("Welcome")
else:
    print("Datamites")

Welcome

In [35]:
#Accept no. & check the no. is pallindrom or not without str()
def solve(num):
    a = 0
    c = num
    while num > 0:
        r = num % 10
        num = num // 10
        a = (10 * a) + r
    if a == c:
        return True
    else:
        return False

num = 25352
print(solve(num))

True