## OPERATORS
Special operators

Membership operator ------- in, not in

In [1]:
s='Datamites'

In [2]:
s

'Datamites'

In [3]:
'Data' in s

True

In [4]:
'data' in s

False

In [5]:
'data' not in s

True

Identity Operator ------- is, is not

In [6]:
a=10
b=10
c=20

In [7]:
a is b

True

In [8]:
a is not b

False

In [9]:
a is c

False

### Conditional Statement
we can use only 'IF' in our code

we can't use only 'ELSE' without 'IF'

##### IF-ELSE

In [10]:
a=10
b=20
if(a==b):
    print("both are same")
else:
    print("both are not same")

both are not same

In [11]:
a = int(input('Enter the no.:'))
if(a%3==0 and a%5==0):
    print('Condition Satisfied')
else:
    print('Condition not Satisfied')

Enter the no.:15
Condition Satisfied

#### Only if

In [12]:
if(5<14):
    print('5 is big')
    print('I am in if block')
print('I am out of if block')

5 is big
I am in if block
I am out of if block

In [13]:
x=8
if x>0:
    print('X is positive')
    print('I am in IF block')
else:
    print('X is negative')
    print('I am in ELSE block')
print('I am out of ELSE block')

X is positive
I am in IF block
I am out of ELSE block

#### if-elif-else Ladder

In [14]:
a = int(input('Enter the no.:'))
if(a>0):
    print('No. is positive')
elif(a<0):
    print('No. is negative')
else:
    print('No. is zero')

Enter the no.:-1
No. is negative

## Nesting

In [15]:
x=4
if(x>=3):
    print('I am in 1st if')
    if(x>2):
        print('I am in 2nd if')
        if(x==4):
            print('I am in 3rd if')
print('THANK YOU')

I am in 1st if
I am in 2nd if
I am in 3rd if
THANK YOU

### DATETIME Libery

In [3]:
from datetime import date

In [4]:
my_date = date(1996, 9, 13)

In [5]:
my_date

datetime.date(1996, 9, 13)

In [6]:
#Getting today's date
today1 = date.today()
print("Today's date is" , today1)

Today's date is 2024-01-02

In [7]:
today1.isoweekday()

2

In [8]:

today1

datetime.date(2024, 1, 2)

In [9]:
#Get todays Year, Month and date
today1 = date.today()
print("Current year :", today1.year)
print("current month :", today1.month)
print("Current day :", today1.day)

Current year : 2024
current month : 1
Current day : 2

In [10]:
#get date from datetime sub module
from datetime import datetime as dt

In [11]:
date1=dt.now()

In [12]:
print(date1)

2024-01-02 20:37:08.713310

In [13]:
dt.date(date1)

datetime.date(2024, 1, 2)

In [14]:
date1.day

2

In [15]:
date1.hour

20

In [16]:
date1.isoweekday()

2

In [17]:
# Time sub module
from datetime import time as tm

In [18]:
my_time = tm(7,8,20)
print("entered time", my_time)

entered time 07:08:20

In [19]:
#Timedelta function demostration
from datetime import date, timedelta as td

In [20]:
current_date= date.today()
#calculating future date fro 2000 days
newdate = current_date + td(days=2000)
newdate

datetime.date(2029, 6, 24)