In [1]:
print("HELLO, myself Shrutika Paradkar. I done my graduation in Computer Science Engineering from Rajiv Gandhi College of Engineering & Research, Nagpur. My hobbies are Listening music, Drawing, Painting and playing badminton. My strengths are fast learner, adaptable, and a team player.")

HELLO, myself Shrutika Paradkar. I done my graduation in Computer Science Engineering from Rajiv Gandhi College of Engineering & Research, Nagpur. My hobbies are Listening music, Drawing, Painting and playing badminton. My strengths are fast learner, adaptable, and a team player.

# KEYWORDS

In [2]:
import keyword

In [3]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
len(keyword.kwlist)

35

# COMMENTS

In [5]:
#single line comment

print("Shrutika")
#print("Dinesh")
print("Paradkar")

Shrutika
Paradkar

In [6]:
#multi line comment
print("Shrutika")
print("Dinesh")
print("Paradkar")
'''print("Kavita")
print("ishwar")
print("XYZ")'''
print("abc")

Shrutika
Dinesh
Paradkar
abc

# STATEMENTS
Instructions that a python interpretercan execute

In [7]:
#Single line Statement
p2= ['a', 'b', 'c']
p2

['a', 'b', 'c']

In [8]:
#multi line statement
p1= 20+30+40 \
+50+60\
+60
p1

260

# VARIABLES & PRINT

In [9]:
k=30

In [10]:
k

30

In [11]:
print(k)

30

In [12]:
print('this is print in single quote')

this is print in single quote

In [13]:
print(" print in double quote")

 print in double quote

In [14]:
print(""" print in triple quote""")

 print in triple quote

In [15]:
# area of square
r=5
area = 3.14 * r *r
print(area)

78.5

### Enter value manually

In [16]:
r = int(input("please enter rad : "))
area = 3.14 * r *r
print(area)

please enter rad : 5
78.5

In [17]:
name = input("please enter your name:")
print("hello from", name)

please enter your name:Shrutika
hello from Shrutika

###### 1) accept two numbers from user & calculate the add, sub, multi & division

In [18]:
a = int(input("please enter num1 : "))
b = int(input("please enter num2 : "))
c = a+b
d = a-b
e = a*b
f = a/b
print(c)
print(d)
print(e)
print(f)

please enter num1 : 20
please enter num2 : 46
66
-26
920
0.43478260869565216

###### 2) Accept two angles of triangle from user and calculate the 3rd angle

In [19]:
Angle1 = int(input("Enter Angle 1 :- "))
Angle2 = int(input("Enter Angle 2 :- "))
Angle3 = 180 - (Angle1 + Angle2)               # sum of all the angles is 180
print("Third angle of the triangle :--> ", Angle3)

Enter Angle 1 :- 60
Enter Angle 2 :- 30
Third angle of the triangle :-->  90

###### 3) Accept your birth year & print your age in years

In [21]:
a = int(input("please enter your birth year : "))
b = (2023 - a)
print(b)

please enter your birth year : 2001
22

## FUNCTIONAL DATATYPES

In [22]:
a = 10
type(a)

int

In [23]:
b=3.17
type(b)

float

In [24]:
c=True
type(c)

bool

In [25]:
d=3+17j
type(d)

complex

In [26]:
e='datamites'
type(e)

str

In [27]:
f=3.5+6j
type(f)

complex

In [29]:
f=True+6j
type(f)

complex

In [30]:
#multiple assignment
intvar, floatvar, strvar = 10,3.17,'Shrutika'
#using comma separater variable
print(intvar,floatvar,strvar)

10 3.17 Shrutika

## Assignment Chaning

In [31]:
#assignment chaining
p1 = p2 = p3 = p4 = 10
#all variables pointing to the same value
print(p1,p2,p3,p4)

10 10 10 10

In [32]:
import sys

In [33]:
val2 = 77.52 #float datatype
print(val2)
print(type(val2))  #type of object
print(sys.getsizeof(val2))  #size of float object in bytes
print(val2, "is float :", isinstance(val2,float))

77.52
<class 'float'>
24
77.52 is float : True

In [34]:
val3 = 3+17j
print(val3)
print(type(val3))
print(sys.getsizeof(val3))
print(val3,"is complex?", isinstance(val3, complex))

(3+17j)
<class 'complex'>
32
(3+17j) is complex? True

In [35]:
#why string using double and tripe quotes
str1 ='abcdegf'
str2 ="hello myself 'Shrutika'"
str3 ="""Hello myself "shrutika" im from 'Nagpur'"""
print(str1)
print(str2)
print(str3)

abcdegf
hello myself 'Shrutika'
Hello myself "shrutika" im from 'Nagpur'