In [1]:
tup1=()

In [2]:
type(tup1)

tuple

In [3]:
t=1,2,3,4,5,6

In [4]:
type(t)

tuple

In [5]:
tup=('data',25,(50,100),(150,90))

In [6]:
tup6=(100,'data',17.765, 3+5j, True)

In [7]:
tup7=('data',25,(50,100),(150,90),(99,22,33))

In [8]:
tup7.pop(1)           #Error because tuple is immutable

AttributeError: 'tuple' object has no attribute 'pop'

In [9]:
tup7[4][2]

33

In [10]:
tup7[0]="Textdata"       #Error because tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [11]:
len(tup7)

5

### Tuple Indexing

In [12]:
tup2=[5,8,'apple',10,True]

In [13]:
tup2[1]

8

In [14]:
tup2[0:3]

[5, 8, 'apple']

In [15]:
tup8=('data',25,[50,100],[150,90],['Shrutika','Paradkar'],(99,22,33))

In [16]:
tup8

('data', 25, [50, 100], [150, 90], ['Shrutika', 'Paradkar'], (99, 22, 33))

In [17]:
tup8[4][1]

'Paradkar'

In [18]:
tup8[5][2]

33

### Remove & Change Items

In [19]:
del tup8[0]

TypeError: 'tuple' object doesn't support item deletion

In [20]:
tup8[0] = 1

TypeError: 'tuple' object does not support item assignment

In [21]:
del tup8

In [22]:
tup8

NameError: name 'tup8' is not defined

### COUNT

In [23]:
tup8=('one','nine','six','seven','four','one')

In [24]:
tup8.count("one")

2

In [25]:
tup8.index('seven')

3

# SET

In [26]:
myset={}

In [27]:
type(myset)

dict

In [28]:
myset=set()
print(type(myset))
myset

<class 'set'>

set()

In [29]:
myset = {1,1,3,4,5}
myset

{1, 3, 4, 5}

In [30]:
type(myset)

set

In [31]:
len(myset)

4

In [32]:
my_set={1,1,2,2,3,4,5,6,6}
my_set           #duplicate elements are not allowed

{1, 2, 3, 4, 5, 6}

In [33]:
my_set1 = {1.79,2.80,3.99,4.56,5.45}
my_set1

{1.79, 2.8, 3.99, 4.56, 5.45}

In [34]:
my_set2 = {'data','john','tyrion','john'}
my_set2

{'data', 'john', 'tyrion'}

In [35]:
myset3 = {10,20,True,'hola',(11,22,32)}
myset3

{(11, 22, 32), 10, 20, True, 'hola'}

#### REMOVE & ADD ELEMENT

In [36]:
myset={2,3,4}

In [37]:
myset.add(5)
myset

{2, 3, 4, 5}

In [38]:
myset[1]      #Indexind is supported in set

TypeError: 'set' object is not subscriptable

In [39]:
myset.update(['TEN','ELEVEN','SIX'])           #Add multiple items
myset

{2, 3, 4, 5, 'ELEVEN', 'SIX', 'TEN'}

In [40]:
myset.remove('FIVE')
myset

KeyError: 'FIVE'

In [41]:
myset.discard('FIVE')
myset

{2, 3, 4, 5, 'ELEVEN', 'SIX', 'TEN'}

In [42]:
myset.clear()

In [43]:
myset

set()

In [44]:
del myset

In [45]:
myset

NameError: name 'myset' is not defined

#### SET OPERATION

In [46]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}

In [47]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [48]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [50]:
A={1,2,3,4,5}
B={4,5,6,7,8}
A.intersection(B)

{4, 5}

In [51]:
A.difference(B)

{1, 2, 3}

In [52]:
B.difference(A)

{6, 7, 8}

In [53]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}